<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>167870242645-6122a48h0f078ob4dd97pr3mdk8rgtr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167870242645-6122a48h0f078ob4dd97pr3mdk8rgtr7</string>
	<key>API_KEY</key>
	<string>AIzaSyATrH14epeMWumLxfexokNMkztbJw4Q5T4</string>
	<key>GCM_SENDER_ID</key>
	<string>167870242645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lee.Roket</string>
	<key>PROJECT_ID</key>
	<string>roket-5aaab</string>
	<key>STORAGE_BUCKET</key>
	<string>roket-5aaab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:167870242645:ios:6d8fd2b9a864dc57</string>
	<key>DATABASE_URL</key>
	<string>https://roket-5aaab.firebaseio.com</string>
</dict>
</plist>